---
title: Home
separatedTitle: Home
description: There it is! The official Website made by hand!
---
<div id="demo" class="carousel slide links-image" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/image/home/caroussel_1.png" alt="Rail">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_2.jpg" alt="Rails">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_3.gif" alt="Rails">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_4.jpg" alt="Rails">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_5.jpg" alt="Doors">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_6.jpg" alt="Trapdoors">
        </div>
        <div class="carousel-item">
            <img src="/image/home/caroussel_7.jpg" alt="Iron bars">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<div class="links-content">
  <h2>Latest Versions</h2>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="https://github.com/Juknum/Faithful-3D">GitHub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.curseforge.com/minecraft/texture-packs/faithful-3d/files/2877605">1.15.2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.curseforge.com/minecraft/texture-packs/faithful-3d/files/2825892">1.14.x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">1.13</a>
    </li>
  </ul>
</div>

<hr>

<img src="/image/home/github_banner.jpg" alt="GitHub Banner" class="links-image">
<div class="links-content">
  <h2>GitHub</h2>
  <p align="justify">
    In order to enjoy all that is presented on this website,
    it is better to download the GitHub version.
    Note that some older versions will no longer be compatible with newer versions.
    You'll have to complain to Mojang ;)
  </p>
  <p align="right">Juknum</p>
</div>

<hr>

{% assign sorted = site.pages | reverse %}
{% for article in sorted %}
  {% if article.path contains "article/" %}
    <img src="{{ article.imgURL }}" alt="Minecraft Screenshot {{ article.id }}" class="links-image">
    <div class="links-content">
      <h2>Release {{ article.id }}</h2>
      <p>
        {% if article.release == true %}
          for {{ article.id }}, {{ article.date }}, {{ article.author }} -
        {% endif %}
        {% if article.release == false %}
          {{ article.date }}, {{ article.author }} -
        {% endif %}
        <img src="{{ site.prefix }}/image/home/comment.png" width="15" height="15" alt="comment image">
        <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}"></a>
      </p>
      <p>
        {% if article.text %}
          {{ article.text }}
          <br><br>
        {% endif %}
        <a class="btn btn-primary" href="{{ article.url }}">Read</a>
      </p>
    </div>

    <hr>
  {% endif %}
{% endfor %}

<!-- count comment script Disqus -->
<script id="dsq-count-scr" src="//faithful3d.disqus.com/count.js" async></script>
