credits:
  - acacia_boat:
    name: acacia_boat
    date: oct 28, 2019
    authors: Juknum
    type: Item
    displayed: 0

  - acacia_door:
    name: acacia_door
    date: feb 7, 2020
    authors: Juknum
    type: Item
    displayed: 0

  - acacia_door_bottom:
    name: acacia_door_bottom
    authors: Juknum
    type: Block

  - acacia_door_bottom_hinge:
    name: acacia_door_bottom_hinge
    authors: Juknum
    type: Block

  - acacia_door_special:
    name: acacia_door_special
    authors: Juknum
    type: Texture

  - acacia_door_top:
    name: acacia_door_top
    authors: Juknum
    type: Block

  - acacia_door_top_hinge:
    name: acacia_door_top_hinge
    authors: Juknum
    type: Block

  - acacia_trapdoor_item:
    name: acacia_trapdoor
    authors: Progical
    type: Item

  - acacia_trapdoor_block:
    name: acacia_trapdoor
    authors: 'Progical & Juknum'
    type: Block
    displayed: 0
---