<canvas id="hiddenCanvas" style="display: none;"></canvas>

<div class="container">
  <h2 align="center">{{ include.info | default: 'You can click on the cards to look closer and rotate the models' }}</h2>

{% for category in include.display %}
  <div class="card-body">
    <h4 class="card-title">{{ category.Title | default: 'Category Title'}}</h4>
    <p class="card-text"><small>{{ category.Credits | default: 'Category Credits'}}</small></p>
  </div>

  <div class="row">

    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.big1 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>

    <div class="col">

      <div class="row">

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny1a | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny2a | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny1b | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny2b | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <img style="width:100%" src="{{ category.Screenshot  | replace: '$site.baseurl', site.baseurl }}" alt="Screenshot">
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col">

      <div class="row">

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny1c | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny2c | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny1d | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.tiny2d | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
            <img class="card-img-top" src="/image/display/loading.png" alt="Model">
          </div>
        </div>

      </div>

    </div>

    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.big2 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>
  </div>
  {% if category.number > 8 %}
  <div class="row">
    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.mediume1 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.mediume2 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.mediume3 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:100%" data-toggle="modal" data-target="#modelModal" data-model="{{ category.mediume4 | default: '/gltf/question.gltf' | replace: '$site.baseurl', site.baseurl }}">
      <img class="card-img-top" src="/image/display/loading.png" alt="Model" style="width:100%">
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

</div>

<!-- Modal -->
<div class="modal fade" id="modelModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ include.modalTitle | default: 'View Model' }}</h4>
      </div>
      <div class="modal-body">
        <p>
          {{ include.modalText | default: 'You can rotate the model with your mouse.' }}
        </p>
        <canvas id="modalCanvas">

        </canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ include.modalBtn | default: 'Close' }}</button>
      </div>
    </div>
  </div>
</div>

<!-- 3d models script -->
<script type="module" src="{{ site.baseurl }}/js/display.js"></script>