<div class="links-image">
  <canvas id="chart_download"></canvas>
</div>
<div class="links-content">
  <h2>GitHub</h2>
  <p align="justify">
    {{ page.text | default: 'All the versions below can be found on GitHub in their latest state of development. Everything presented on the site comes from the latest developed version.' }}
  </p>
  <p align="right">
    Juknum
  </p>
  <p>
    <a class="btn btn-warning btn-block" href="https://github.com/Faithful3D">GitHub</a>
  </p>
</div>

{{ site.data.download }}

<hr>
{%- for version in site.data.download.list -%}
{{ version }}<br><br>
{{ version.first }}<br><br>
{{ version.last }}<br><br>
<h2><img src="{{ version.last | replace: '$site.baseurl', site.baseurl }}" alt="{{ version.first.first }}" width="25" height="25"> {{ version.first.first }}</h2>
<div>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th style="width:5%">{{ page.Htype | default: 'Type' }}</th>
        <th style="width:60%">{{ page.Hname | default: 'Name' }}</th>
        <th class="detailed" style="width:12.25%">{{ page.Hsize | default: 'Size' }}</th>
        <th style="width:12.25%">{{ page.Hpublished | default: 'Published' }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for category in version.first.shift -%}
      <tr>
        <td align="center">
          {%- if category.type == 'GitHub' -%}
            <span class="badge badge-warning">GitHub</span>
          {%- endif -%}
          {%- if category.type == 'Release' -%}
            <span class="badge badge-success">Release</span>
          {%- endif -%}
          {%- if category.type == 'Snapshot' -%}
            <span class="badge badge-primary">Snapshot</span>
          {%- endif -%}
        </td>
        <td>
        {%- if category.type == 'GitHub' -%}
          <a href="{{ category.url }}">{{ category.name }}</a>
        {%- else -%}
          <a href="https://www.curseforge.com/minecraft/texture-packs/faithful-3d/files/{{ category.url_number }}">{{ category.name }}</a>
        {%- endif -%}
        </td>
        <td class="detailed">
        {%- if category.file_size -%}
        {{ category.file_size }}
        {%- else -%}
        -
        {%- endif -%}
        </td>
        <td>
        {%- if category.date -%}
        {{ category.date }}
        {%- else -%}
        -
        {%- endif -%}
        </td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
<br><hr>
{%- endfor -%}

<script>
  const dateArray = ['{{ page.month11 | default: 'November'}}','{{ page.month12 | default: 'December'}}','{{ page.month1 | default: 'January'}}','{{ page.month2 | default: 'February'}}','{{ page.month3 | default: 'March'}}','{{ page.month4 | default: 'April'}}','{{ page.month5 | default: 'May'}}','{{ page.month6 | default: 'June'}}']
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{{ site.baseurl }}/js/download.js" defer></script>

<hr>
