---
layout: default

credits:
  - acacia_boat:
    name: acacia_boat
    date: oct 28, 2019
    authors: Juknum
    type: Item
    displayed: 0

  - acacia_door:
    name: acacia_door
    date: feb 7, 2020
    authors: Juknum
    type: Item
    displayed: 0

  - acacia_door_bottom:
    name: acacia_door_bottom
    authors: Juknum
    type: Block

  - acacia_door_bottom_hinge:
    name: acacia_door_bottom_hinge
    authors: Juknum
    type: Block

  - acacia_door_special:
    name: acacia_door_special
    authors: Juknum
    type: Texture

  - acacia_door_top:
    name: acacia_door_top
    authors: Juknum
    type: Block

  - acacia_door_top_hinge:
    name: acacia_door_top_hinge
    authors: Juknum
    type: Block

  - acacia_trapdoor_item:
    name: acacia_trapdoor
    authors: Progical
    type: Item

  - acacia_trapdoor_block:
    name: acacia_trapdoor
    authors: 'Progical & Juknum'
    type: Block
    displayed: 0
---

<div class="container">
  <h2>{{ page.Title | default: 'Credits' }}</h2>
  <p>{{ page.p | default: 'Last update: june 3rd 2020' }}</p>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th style="width:5%">{{ page.Htype | default: 'Type' }}</th>
        <th style="width:5%">{{ page.Hdisplayed | default: 'Displayed' }}</th>
        <th>{{ page.Hname | default: 'Name' }}</th>
        <th>{{ page.Hauthors | default: 'Author(s)' }}</th>
        <th>{{ page.Hpublished | default: 'Published' }}</th>
      </tr>
    </thead>
    <tbody>

      {% for category in credits %}

      <tr>
        <td align="center">
          {% if category.type == 'Item' %}
          <span class="badge" style="background-color: #f9ccac;">{{ page.item | default: 'Item' }}</span>
          {% endif %}
          {% if category.type == 'Block' %}
          <span class="badge" style="background-color: #f4a688;">{{ page.block | default: 'Block' }}</span>
          {% endif %}
          {% if category.type == 'Entity' %}
          <span class="badge" style="background-color: #e0876a;">{{ page.entity | default: 'Entity' }}</span>
          {% endif %}
          {% if category.type == 'Texture' %}
          <span class="badge" style="background-color: #fbefcc;">{{ page.texture | default: 'Texture' }}</span>
          {% endif %}
        </td>
        <td align="center">
          {% if category.displayed %}

            {% if category.displayed == 1 %}
              <span class="badge badge-success">{{ page.yes_span | default: 'YES' }}</span>
            {% endif %}

            {% if category.displayed == 0 %}
              <span class="badge badge-danger">{{ page.no_span | default: 'NO' }}</span>
            {% endif %}

          {% else %}
            <span class="badge badge-secondary">{{ page.na_span | default: 'N/A' }}</span>

          {% endif %}
        </td>

        <td>{{ category.name }}</td>
        <td>{{ category.authors }}</td>
        <td>
          {% if category.date %}
            {{ category.date }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>