<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <title>Faithful 3D - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />

    <link rel="icon" type="image/x-icon" href="{{ site.prefix }}/image/icon/icon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.prefix }}/image/icon/icon.ico" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Juknum/faithful3d.github.io/master/image/icon/og.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.prefix}}/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143809411-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143809411-2');
    </script>

</head>
<body>

<header>
  <h1 class="display-1">{{ page.separatedTitle }}</h1>
  <p>{{ page.description }}</p>
</header>

<nav class="custom-navbar navbar navbar-expand-sm navbar-dark">
    <span class="navbar-brand">
        <img src="{{site.prefix}}/image/icon/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Faithful 3D
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">{% if lang == 'en' %}{% assign langURL = '' %}{% else %}{% assign langURL = page.lang | append: '/' %}{% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}">{{ page.navHome | default: 'Home' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}download">{{ page.navDownload | default: 'Download' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}display">{{ page.navDisplay | default: 'Display' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}compatibility">{{ page.navCompatibility | default: 'Compatibility' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}credits">{{ page.navCredits | default: 'Credits' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}team">{{ page.navTeam | default: 'Team' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}software">{{ page.navSoftware | default: 'Software' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{site.prefix}}/{{langURL}}links">{{ page.navLinks | default: 'Links' }}</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    {{ content }}
</main>


<nav class="lang-navbar navbar navbar-expand-sm navbar-dark">
    <span class="navbar-brand">
        <img src="{{site.prefix}}/image/lang/lang.svg" height="30" class="d-inline-block" alt="">
        {{ page.langLbl | default: 'Language' }}
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleLangNavbar" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="lang-navbar collapse navbar-collapse" id="collapsibleLangNavbar">
        <ul class="navbar-nav">
            {% assign link = page.url | remove: '.html' | remove: '/fr' | remove: '/de' | remove: '/es'  %}
            <li class="nav-item">
                <a class="nav-link disabled" href="/de{{ link }}">
                  <img src="{{ site.prefix }}/image/lang/de.png" height="24" class="d-inline-block" alt="Flag">
                  DE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ link }}">
                  <img src="{{ site.prefix }}/image/lang/en.png" height="24" class="d-inline-block" alt="Flag">
                  EN
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/es{{ link }}">
                  <img src="{{ site.prefix }}/image/lang/es.png" height="24" class="d-inline-block" alt="Flag">
                  ES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/fr{{ link }}">
                  <img src="{{ site.prefix }}/image/lang/fr.png" height="24" class="d-inline-block" alt="Flag">
                  FR
                </a>
            </li>
        </ul>
    </div>
</nav>

<footer>
  <p>
    <strong>{{ page.footerDiscord | default: 'Join us on Discord:' }} <a href="https://discord.gg/GJzgeY7">https://discord.gg/GJzgeY7</a></strong><br>
    <em>
        {{ page.footerAddon | default: 'Addon made by' }} <a href="https://github.com/Progical">Progical</a>, <a href="https://github.com/HowlerMC">Howler</a> & <a href="https://github.com/Juknum">Juknum</a>
        <br>
        {{ page.footerWebsite | default: 'Website made by' }} <a href="https://github.com/Domi04151309">Domi04151309</a> & <a href="https://github.com/Juknum">Juknum</a>
    </em>
  </p>
</footer>

</body>
</html>
