---
layout: default
lang: fr
description: Le Faithful 3D est un addon pour le populaire pack de ressources Faithful pour Minecraft JE.
navHome: Accueil
navDownload: Téléchargements
navDisplay: Affichage
navCompatibility: Compatibilité
navCredits: Crédits
navTeam: Équipe
navSoftware: Logiciels
navLinks: Liens
alertStrong: Aidez-nous!
alertMessage: Vous devriez <a href="https://feedback.minecraft.net/hc/en-us/community/posts/360068035331-Allow-to-force-render-of-adjacent-block" class="alert-link">partager & voter pour ce feedback</a>.
langLbl: Langue
footerDiscord: Rejoins nous sur Discord&#58;
footerAddon: Addon créé par
footerWebsite: Site web fait par
cookieText: Nous utilisons des cookies sur ce site Web pour vous offrir la meilleure expérience sur notre site et vous montrer des publicités pertinentes. Pour en savoir plus, lisez notre
cookiePrivacyPolicy: politique de confidentialité
cookieConnector: et la
cookieCookiePolicy: politique des cookies
cookieBtn: Accepter
---
{{ content }}