---
layout: default
lang: de
description: Faithful 3D ist eine Erweiterung für das beliebte Faithful Ressourcenpaket für Minecraft Java Edition.
navHome: Home
navDownload: Herunterladen
navDisplay: Anschauen
navCompatibility: Kompatibilität
navCredits: Verdienst
navTeam: Team
navSoftware: Programme
navLinks: Links
alertStrong: Hilf uns!
alertMessage: Sie sollten <a href="https://feedback.minecraft.net/hc/en-us/community/posts/360068035331-Allow-to-force-render-of-adjacent-block" class="alert-link">dieses Feedback teilen und dafür stimmen</a>.
langLbl: Sprache
footerDiscord: Besuche uns auf Discord&#58;
footerAddon: Erweiterung erstellt von
footerWebsite: Internetseite erstellt von
cookieText: Wir verwenden Cookies auf dieser Website, um Ihnen die bestmögliche Erfahrung auf unserer Website zu bieten und Ihnen relevante Werbung zu zeigen. Um mehr zu erfahren, lesen Sie unsere
cookiePrivacyPolicy: Datenschutz-Bestimmungen
cookieConnector: und
cookieCookiePolicy: Cookie-Richtlinien
cookieBtn: Ok
---
{{ content }}