<!DOCTYPE html>
<html lang="{{ layout.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <title>Faithful 3D - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }} - {{ layout.description | default: 'Faithful 3D is an add-on for the popular Faithful resource pack for Minecraft Java Edition.' }}" />
    <meta name="keywords" content="Minecraft, Faithful, Faithful 3D, 3D, Resourcepack, Faithful Addons">
    <meta name="theme-color" content="#007bff">

    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png"/>
    <meta property="og:image" content="{{ site.url }}{{ page.headerImgURL | default: '$site.baseurl/image/icon/og.jpg' | replace: '$site.baseurl', site.baseurl }}" />
    <meta property="twitter:image" content="{{ site.url }}{{ page.headerImgURL | default: '$site.baseurl/image/icon/og.jpg' | replace: '$site.baseurl', site.baseurl }}" />
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143809411-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143809411-2');
    </script>

    <!-- Google Adsens -->
    <script data-ad-client="ca-pub-4201446553802903" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>

<header>
  <h1 class="display-1">{{ page.separatedTitle }}</h1>
  <p>{{ page.description }}</p>
</header>

<div class="custom-navbar-wrapper">
  <nav class="custom-navbar navbar navbar-expand-sm navbar-dark">
      <span class="navbar-brand">
          <img src="{{site.baseurl}}/image/icon/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Faithful 3D
      </span>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">{% unless layout.lang or layout.lang == 'en' %}{% assign langURL = '' %}{% else %}{% assign langURL = layout.lang | append: '/' %}{% endunless %}
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}">{{ layout.navHome | default: 'Home' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}download">{{ layout.navDownload | default: 'Download' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}display">{{ layout.navDisplay | default: 'Display' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}compatibility">{{ layout.navCompatibility | default: 'Compatibility' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}credits">{{ layout.navCredits | default: 'Credits' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}team">{{ layout.navTeam | default: 'Team' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}software">{{ layout.navSoftware | default: 'Software' }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{site.baseurl}}/{{langURL}}links">{{ layout.navLinks | default: 'Links' }}</a>
              </li>
          </ul>
      </div>
  </nav>
</div>

<main class="container">
    {{ content }}
</main>

{% unless page.url contains "/article/" %}
<nav class="lang-navbar navbar navbar-expand-sm navbar-dark">
    <span class="navbar-brand">
        <img src="{{site.baseurl}}/image/lang/lang.svg" height="30" class="d-inline-block" alt="">
        {{ layout.langLbl | default: 'Language' }}
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleLangNavbar" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="lang-navbar collapse navbar-collapse" id="collapsibleLangNavbar">
        <ul class="navbar-nav">
            {% assign link = page.url | remove: '.html' | remove: '/fr' | remove: '/de' | remove: '/pl'  %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/de{{ link }}">
                  <img src="{{ site.baseurl }}/image/lang/de.png" height="24" class="d-inline-block" alt="Flag">
                  DE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}{{ link }}">
                  <img src="{{ site.baseurl }}/image/lang/en.png" height="24" class="d-inline-block" alt="Flag">
                  EN
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ site.baseurl }}/es{{ link }}">
                  <img src="{{ site.baseurl }}/image/lang/es.png" height="24" class="d-inline-block" alt="Flag">
                  ES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ site.baseurl }}/fr{{ link }}">
                  <img src="{{ site.baseurl }}/image/lang/fr.png" height="24" class="d-inline-block" alt="Flag">
                  FR
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ site.baseurl }}/pl{{ link }}">
                  <img src="{{ site.baseurl }}/image/lang/pl.png" height="24" class="d-inline-block" alt="Flag">
                  PL
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endunless %}

<footer>
  <p>
    <strong>{{ layout.footerDiscord | default: 'Join us on Discord:' }} <a href="https://discord.gg/GJzgeY7">https://discord.gg/GJzgeY7</a></strong><br>
    <em>
        {{ layout.footerAddon | default: 'Addon made by' }} <a href="https://github.com/Progical">Progical</a>, <a href="https://github.com/HowlerMC">Howler</a> & <a href="https://github.com/Juknum">Juknum</a>
        <br>
        {{ layout.footerWebsite | default: 'Website made by' }} <a href="https://github.com/Domi04151309">Domi04151309</a> & <a href="https://github.com/Juknum">Juknum</a>
    </em>
  </p>
</footer>

<!-- Cookie Banner -->
<div class="cookie-container">
  <p>
    We use cookies in this website to give you the best experience on our site and show you relevant ads. To find out more, read our
    <a href="#">privacy policy</a> and <a href="#">cookie policy</a>.
  </p>

  <button class="cookie-btn">
    Okay
  </button>
</div>

<script src="/js/cookiebanner.js"></script>

</body>
</html>
