<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Faithful 3D - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />

    <link rel="icon" type="image/x-icon" href="image/icon/icon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="image/icon/icon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1 class="text-white display-1">{{ page.title }}</h1>
  <p class="text-white">{{ page.description }}</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="index">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="display">Display</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="software">Software</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="compatibility">Compatability</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="credits">Credits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="download">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="links">Links</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-white" style="margin-top:30px">
    {{ content }}
</div>

<div class="jumbotron text-center text-white" style="margin-bottom:0">
  <p>
    <strong>Join us on Discord: <a href="https://discord.gg/GJzgeY7">https://discord.gg/GJzgeY7</a></strong><br>
    <em>Addon made by Progical, Howler & Juknum</em>
  </p>
</div>

</body>
</html>
